{% extends "base.html" %}
{% load static %}
{% block title %}room{% endblock %}
{% block body %}
{{ request.user.username|json_script:"json-username"}}
{{ room_name|json_script:"room-name" }}
<div class="container">
  <p>Random bullshit about products</p>
<form id='form'>
  <div class="input-group mb-3">
  <input type="text" class="form-control" name="message" placeholder="Message us" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="submit">Button</button>
   </div>
  </div
</form>
<div id="messages">
  {% for m in messages %}
  <div class="alert alert-primary" role="alert"><b>{{m.user.username}}</b>:{{m.content}}<br></div>
  {% endfor %}
</div>
</div>
<script>
  const userName=JSON.parse(document.getElementById("json-username").textContent)
  //As soon as someone enters into our stocks page WebSocket communication
  //will be started between user and server.
  const roomName= JSON.parse(document.getElementById("room-name").textContent)
  let url=`ws://${window.location.host}/ws/${roomName}/`
  const chatsocket=new WebSocket(url);

  chatsocket.onmessage=function(e){
    let data=JSON.parse(e.data)
    if(data.type=='text'){
      let messages=document.getElementById("messages")
      messages.innerHTML+=('<div class="alert alert-primary" role="alert">'+'<b>'+data.username+'</b>:'+data.message+'<br> </div>')
    }
  }
  let form=document.getElementById('form')
   form.addEventListener('submit',(e)=>{
     e.preventDefault()
     let message=e.target.message.value
     chatsocket.send(JSON.stringify({
       'message': message,
       "username": userName,
       "roomname": roomName
     }))
     form.reset()
   })
</script>
{% endblock %}

