{% extends "base.html" %}
{% load static %}
{% load myfilters %}
{% block title %}Index{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container my-3">
<table class="table table-striped">
  <thead>
    <tr>
          <th scope="col">SNo.</th>
          <th scope="col">Stock</th>
          <th scope="col">Price</th>
          <th scope="col">High</th>
          <th scope="col">Low</th>
          <th scope="col">Previous Close</th>
          <th scope="col">Open</th>
          <th scope="col">Volume</th>
              
    </tr>
  </thead>
  <tbody>
{% if data is not empty  %}  
{% for key, value in data.items %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{key}}</td>
      <td>{{ value|get:"05. price" }}</td>
      <td>{{ value|get:"03. high" }}</td>
      <td>{{ value|get:"04. low"  }}</td>
      <td>{{ value|get:"08. previous close"|floatformat:4 }}</td>
      <td>{{ value|get:"02. open" }}</td>
      <td>{{ value|get:"06. volume" }}</td>
    </tr>
{% endfor %}
{% endif %}
  </tbody>
</table>
</div>
{% endblock %}

